[data-theme='bytesto4t'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: system-ui, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.25rem;
	--radius-container: 0.25rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(93.78% 0.03 37.86deg);
	--color-primary-100: oklch(86.83% 0.05 38.28deg);
	--color-primary-200: oklch(79.95% 0.06 38.14deg);
	--color-primary-300: oklch(72.94% 0.08 39.21deg);
	--color-primary-400: oklch(66.12% 0.1 38.96deg);
	--color-primary-500: oklch(59.33% 0.12 38.86deg);
	--color-primary-600: oklch(54.43% 0.11 39.04deg);
	--color-primary-700: oklch(49.1% 0.1 38.6deg);
	--color-primary-800: oklch(43.94% 0.09 39.59deg);
	--color-primary-900: oklch(38.29% 0.07 39.08deg);
	--color-primary-950: oklch(32.79% 0.06 39.52deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(97.22% 0.03 202.06deg);
	--color-secondary-100: oklch(89.81% 0.04 202.16deg);
	--color-secondary-200: oklch(82.34% 0.05 202.17deg);
	--color-secondary-300: oklch(74.83% 0.06 201deg);
	--color-secondary-400: oklch(67.28% 0.07 201.23deg);
	--color-secondary-500: oklch(59.77% 0.08 201.6deg);
	--color-secondary-600: oklch(55.72% 0.08 201.01deg);
	--color-secondary-700: oklch(51.86% 0.07 197.74deg);
	--color-secondary-800: oklch(47.67% 0.07 196.59deg);
	--color-secondary-900: oklch(43.65% 0.06 192.03deg);
	--color-secondary-950: oklch(39.26% 0.05 189.81deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-light);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(93.63% 0.03 354.98deg);
	--color-tertiary-100: oklch(85.83% 0.06 358.21deg);
	--color-tertiary-200: oklch(78.1% 0.08 1.62deg);
	--color-tertiary-300: oklch(70.21% 0.1 2.76deg);
	--color-tertiary-400: oklch(62.81% 0.13 5.69deg);
	--color-tertiary-500: oklch(55.76% 0.15 8.34deg);
	--color-tertiary-600: oklch(51.13% 0.14 8.1deg);
	--color-tertiary-700: oklch(46.24% 0.12 7.56deg);
	--color-tertiary-800: oklch(41.25% 0.11 6.69deg);
	--color-tertiary-900: oklch(36.07% 0.09 5.64deg);
	--color-tertiary-950: oklch(30.89% 0.08 4.53deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(97.18% 0.04 161.51deg);
	--color-success-100: oklch(90.28% 0.06 159.51deg);
	--color-success-200: oklch(83.37% 0.08 158.07deg);
	--color-success-300: oklch(76.46% 0.09 156.7deg);
	--color-success-400: oklch(69.6% 0.11 155.15deg);
	--color-success-500: oklch(62.86% 0.13 153.2deg);
	--color-success-600: oklch(58.2% 0.12 153.21deg);
	--color-success-700: oklch(53.44% 0.11 153.9deg);
	--color-success-800: oklch(48.57% 0.1 154.01deg);
	--color-success-900: oklch(43.57% 0.09 155.08deg);
	--color-success-950: oklch(38.44% 0.07 155.47deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-light);
	--color-success-contrast-600: var(--color-success-contrast-light);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(98.16% 0.03 99.49deg);
	--color-warning-100: oklch(91.66% 0.05 104.92deg);
	--color-warning-200: oklch(84.95% 0.07 105.91deg);
	--color-warning-300: oklch(78.31% 0.09 108.21deg);
	--color-warning-400: oklch(71.44% 0.1 108.7deg);
	--color-warning-500: oklch(64.64% 0.11 110.38deg);
	--color-warning-600: oklch(59.97% 0.11 109.18deg);
	--color-warning-700: oklch(55.37% 0.1 109.16deg);
	--color-warning-800: oklch(50.51% 0.09 107.46deg);
	--color-warning-900: oklch(45.7% 0.08 107.16deg);
	--color-warning-950: oklch(40.59% 0.07 104.43deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-light);
	--color-warning-contrast-600: var(--color-warning-contrast-light);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(93.35% 0.03 17.79deg);
	--color-error-100: oklch(85.44% 0.05 18.26deg);
	--color-error-200: oklch(77.63% 0.08 18.96deg);
	--color-error-300: oklch(69.62% 0.1 19.98deg);
	--color-error-400: oklch(62.18% 0.13 21.43deg);
	--color-error-500: oklch(55.1% 0.15 23.5deg);
	--color-error-600: oklch(50.53% 0.14 23.42deg);
	--color-error-700: oklch(45.68% 0.12 23.27deg);
	--color-error-800: oklch(40.72% 0.11 23.28deg);
	--color-error-900: oklch(35.59% 0.09 23.05deg);
	--color-error-950: oklch(30.46% 0.08 22.81deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(88.88% 0.02 65.13deg);
	--color-surface-100: oklch(84.04% 0.02 62.82deg);
	--color-surface-200: oklch(79.03% 0.02 62.79deg);
	--color-surface-300: oklch(74.24% 0.02 65.21deg);
	--color-surface-400: oklch(69.08% 0.02 65.17deg);
	--color-surface-500: oklch(63.91% 0.02 63deg);
	--color-surface-600: oklch(55.92% 0.02 64.7deg);
	--color-surface-700: oklch(47.63% 0.02 67.42deg);
	--color-surface-800: oklch(38.72% 0.01 62.31deg);
	--color-surface-900: oklch(29.52% 0.01 67.56deg);
	--color-surface-950: oklch(19.53% 0 106.46deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-dark);
	--color-surface-contrast-600: var(--color-surface-contrast-dark);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}